<h2 mat-dialog-title>Más filtros</h2>
<button
    mat-raised-button
    (click)="closeMenu()"
    class="btn btn-danger close-button"
>
    Cerrar
</button>
<div class="container">
    <div class="row">
        <div class="col-md-3 dropdown" *ngIf="companiesDropdown.length > 0">
            <ng-multiselect-dropdown
                [placeholder]="'Compañía'"
                [data]="companiesDropdown"
                [(ngModel)]="selectedCompanies"
                [settings]="companiesDropdownSettings"
                (onSelect)="companySelected($event)"
                (onDeSelect)="companyDeselected($event)"
                (onSelectAll)="selectAllCompanies()"
                (onDeSelectAll)="deselectAllCompanies()"
            >
            </ng-multiselect-dropdown>
        </div>

        <div
            class="col-md-3 col-sm-6 dropdown"
            *ngIf="campaignsDropdown.length > 0"
        >
            <ng-multiselect-dropdown
                [placeholder]="'Campaña'"
                [data]="campaignsDropdown"
                [(ngModel)]="selectedCampaigns"
                [settings]="campaignsDropdownSettings"
                (onSelect)="campaignSelected($event)"
                (onDeSelect)="campaignDeselected($event)"
                (onSelectAll)="selectAllCampaigns()"
                (onDeSelectAll)="deselectAllCampaigns()"
            >
            </ng-multiselect-dropdown>
        </div>

        <div
            class="col-md-3 col-sm-6 dropdown"
            *ngIf="channelsDropdown.length > 0"
        >
            <ng-multiselect-dropdown
                [placeholder]="'Canal'"
                [data]="channelsDropdown"
                [(ngModel)]="selectedChannels"
                [settings]="channelsDropdownSettings"
                (onSelect)="channelSelected($event)"
                (onDeSelect)="channelDeselected($event)"
                (onSelectAll)="selectAllChannels()"
                (onDeSelectAll)="deselectAllChannels()"
            >
            </ng-multiselect-dropdown>
        </div>

        <div
            class="col-md-3 col-sm-6 dropdown"
            *ngIf="integratorsDropdown.length > 0"
        >
            <ng-multiselect-dropdown
                [placeholder]="'Integrador'"
                [data]="integratorsDropdown"
                [(ngModel)]="selectedIntegrators"
                [settings]="integratorsDropdownSettings"
                (onSelect)="integratorSelected($event)"
                (onDeSelect)="integratorDeselected($event)"
                (onSelectAll)="selectAllIntegrators()"
                (onDeSelectAll)="deselectAllIntegrators()"
            >
            </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 dropdown">
            <ng-multiselect-dropdown
                [placeholder]="'Año'"
                [data]="companiesDropdown"
                [(ngModel)]="selectedCompanies"
                [settings]="companiesDropdownSettings"
                (onSelect)="companySelected($event)"
                (onDeSelect)="companyDeselected($event)"
                (onSelectAll)="selectAllCompanies()"
                (onDeSelectAll)="deselectAllCompanies()"
            >
            </ng-multiselect-dropdown>
        </div>

        <div class="col-md-3 col-sm-6 dropdown">
            <ng-multiselect-dropdown
                [placeholder]="'Mes'"
                [data]="companiesDropdown"
                [(ngModel)]="selectedCompanies"
                [settings]="companiesDropdownSettings"
                (onSelect)="companySelected($event)"
                (onDeSelect)="companyDeselected($event)"
                (onSelectAll)="selectAllCompanies()"
                (onDeSelectAll)="deselectAllCompanies()"
            >
            </ng-multiselect-dropdown>
        </div>

        <div class="col-md-3 col-sm-6 dropdown">
            <ng-multiselect-dropdown
                [placeholder]="'Día'"
                [data]="companiesDropdown"
                [(ngModel)]="selectedCompanies"
                [settings]="companiesDropdownSettings"
                (onSelect)="companySelected($event)"
                (onDeSelect)="companyDeselected($event)"
                (onSelectAll)="selectAllCompanies()"
                (onDeSelectAll)="deselectAllCompanies()"
            >
            </ng-multiselect-dropdown>
        </div>

        <div class="col-md-3 col-sm-6 dropdown">
            <ng-multiselect-dropdown
                [placeholder]="'Semana'"
                [data]="companiesDropdown"
                [(ngModel)]="selectedCompanies"
                [settings]="companiesDropdownSettings"
                (onSelect)="companySelected($event)"
                (onDeSelect)="companyDeselected($event)"
                (onSelectAll)="selectAllCompanies()"
                (onDeSelectAll)="deselectAllCompanies()"
            >
            </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 dropdown">
            <ng-multiselect-dropdown
                [placeholder]="'Día de semana'"
                [data]="companiesDropdown"
                [(ngModel)]="selectedCompanies"
                [settings]="companiesDropdownSettings"
                (onSelect)="companySelected($event)"
                (onDeSelect)="companyDeselected($event)"
                (onSelectAll)="selectAllCompanies()"
                (onDeSelectAll)="deselectAllCompanies()"
            >
            </ng-multiselect-dropdown>
        </div>

        <div class="col-md-3 col-sm-6 dropdown">
            <ng-multiselect-dropdown
                [placeholder]="'Cuarto de año'"
                [data]="companiesDropdown"
                [(ngModel)]="selectedCompanies"
                [settings]="companiesDropdownSettings"
                (onSelect)="companySelected($event)"
                (onDeSelect)="companyDeselected($event)"
                (onSelectAll)="selectAllCompanies()"
                (onDeSelectAll)="deselectAllCompanies()"
            >
            </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dateOfBirth">Filtro de Fecha desde:</label>
            <input
                type="date"
                class="form-control"
                id="myDate"
                [(ngModel)]="opcionDateSleccionado"
            />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dateOfBirth">Filtro de Fecha hasta:</label>
            <input
                type="date"
                class="form-control"
                id="myDate2"
                [(ngModel)]="opcionDateSleccionado2"
            />
        </div>
    </div>
</div>
