<router-outlet></router-outlet>
<h2 class="text-capitalize main-title">Datos de Plantilla</h2>

<div class="row">
    <div class="col-md-4">
        <p><strong>Identificacion: </strong> {{template.templateId}} </p>
        <p><strong>Creada por: </strong></p>
        <p><strong>Status: </strong></p>
        <p><strong>Fecha de creacion: </strong> {{template.creationDate.}} </p>
    </div>
    <div class="col-md-8">
        <p><strong>Mensaje:</strong></p>
        <p></p>
    </div>
</div>

<h3>Canales e Integradores</h3>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Canal</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Integradores</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        nombre
                    </td>
                    <td>
                        Descripcion
                    </td>
                    <td>
                        Integradores
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
