/package-lock.json
/package.json
\.DS_Store
*.lnk

*Web.config
*app.config

WebAPI/\.vs/
/WebAPI*

.idea/
glassfish5/
out/

CoreMensajeria/\.idea/google-java-format\.xml

CoreMensajeria/CoreMensajeria\.iml
