<router-outlet></router-outlet>


<div class="Container">
    <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Modificar:</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="opcionSeleccionado" required>  <!-- (change) = "capturar()" -->
              <option selected value="0">Elija</option>
              <option *ngFor="let company of companyList" [ngValue]="company" >
                  {{company._name}}
              </option>
              <h1>  {{company}} </h1>
            </select>
          </div>

    <div class="form-row">

      <button type="button" class="btn btn-success btn-lg" (click) = "capturar() ; HabilitarTexto() "> Consultar</button>

      <p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la Consulta acerca :  {{ verSeleccion }}</p>

    </div>


    
<div class="container-fluid">
  <div class="form-row">
    <div class="col-4">
      <div class="form-group">
        <label for="formMessage">Nombre de la Compañia</label>
        <input class="form-control" id="NameCompany" name="nombre" [(ngModel)]="opcionSeleccionado._name" required placeholder="Nombre" >
      </div>
      <div class="form-group">
        <label for="formMessage">Descripción de la Compañia</label>
        <input class="form-control" id="DescCompany" name="descripcion" [(ngModel)]="opcionSeleccionado._desc" required placeholder="Descripción" >
      </div>
    </div>
  </div>
<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-success m-1 col-3" (click)="editCompany()">Modificar</button>
  <button type="button" class="btn btn-danger m-1 col-3" routerLink="/company">Cancelar</button>
</div>
</div>

