<h2 class="text-center text-capitalize main-title">
  Administrar Usuarios
</h2>

<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-dark" routerLink="/profiles/create" *ngIf="CUSER">Crear Usuario</button>
  <select class="form-control" id="company" name="company" [(ngModel)]="companyId" (change)="changeCompany(companyId)">
    <ng-container *ngFor="let company of companiesJson">
      <option *ngIf="company._status" [value]="company._idCompany">
        <p>
          {{company._name}}
        </p>
      </option>
    </ng-container>

  </select>
  Seleccione una compañia
</div>

<div class="card">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Identity</th>
        <th scope="col">Rol</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersJson; let i = index">
        <td class="text-center">
          {{user.user._usernameUser}}
        </td>
        <td class="text-center">
          {{user.user._nameUser}}
        </td>
        <td class="text-center">
          {{user.user._lastnameUser}}
        </td>
        <td class="text-center">
          {{user.user._identificationNumberUser}}
        </td>
        <td class="text-center">
          {{user.rol._name}}
        </td>
        <td class="">
          <div class="d-flex justify-content-around align-items-center">
            <i class="fa fa-info-circle clickable" aria-hidden="true"
              title="Detalles" *ngIf="RUSER"></i>
            <i class="fa fa-edit clickable" aria-hidden="true"
              title="Editar" *ngIf="UUSER" routerLink=""></i>
            <i class="fa fa-trash clickable" aria-hidden="true"
              title="Eliminar" *ngIf="DUSER" routerLink=""></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>