<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aprobar Plantilla</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Deseas aprobar la plantilla de id: {{templateId}} ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="approveTemplate(templateId)">Aprobar</button>
  </div>
</ng-template>

<div *ngIf="ATEMPLATE; else elseBlock">
  <span class="badge badge-danger clickable" (click)="open(content)">
    No Aprobado
  </span>
</div>
<ng-template #elseBlock>
  <span class="badge badge-danger notclickable">
    No Aprobado
  </span>
</ng-template>