<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>
        <a *ngIf="findPrivilege('RCHANNEL')" [routerLink]="['/channel']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-filter"></i>&nbsp;
            <span>Canales</span>
        </a>
        <a *ngIf="findPrivilege('RINTEGRATOR')" [routerLink]="['/integrator']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-reply-all"></i>&nbsp;
            <span>Integradores</span>
        </a>
        <a *ngIf="findPrivilege('STATISTICS')" [routerLink]="['/statistics']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bar-chart"></i>&nbsp;
            <span>{{ 'Estadísticas' | translate }}</span>
        </a>
        <a *ngIf="findPrivilege('RAPPLICATION')" [routerLink]="['/application']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Origen' | translate }}</span>
        </a>
        <a *ngIf="findPrivilege('RCAMPAIGN')" [routerLink]="['/campaigns']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bullhorn"></i>&nbsp;
            <span>{{ 'Campañas' | translate }}</span>
        </a>
        <a *ngIf="findPrivilege('RTEMPLATE')" [routerLink]="['/template']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-sticky-note"></i>&nbsp;
            <span>{{ 'Templates' | translate }}</span>
        </a>
        <a *ngIf="findPrivilege('RCOMPANY')" [routerLink]="['/company']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-rebel"></i>&nbsp;
            <span>{{ 'Compañias' | translate }}</span>
        </a>
        <a *ngIf="findPrivilege('RUSER')" [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-circle"></i>&nbsp;
            <span>{{ 'Profile' | translate }}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Minimizar' | translate }}</span>
    </div>
</nav>
