<app-page-header [heading]="'Canales'" [icon]="'fa fa-filter'"></app-page-header>

<div class="container">
  
  <div class="row">
    <div class="col-sm-4" style="margin: 15px 0px"
      *ngFor="let channel of channels">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center"><b>{{ channel._nameChannel }}</b></h2>
          <p class="card-text text-center"> {{ channel._descriptionChannel }}  </p>
        </div>
          <h3 class="card-title text-center"> Integradores </h3>
          <ul class="list-group list-group-flush">
              <li class="list-group-item"
                *ngFor="let integrator of channel._integrators">
                <p>{{ integrator.nameIntegrator }}
                
                  <span *ngIf="integrator.enabled; else elseBlock" 
                  class="badge badge-primary">
                  Habilitado
                </span>
                
                <ng-template #elseBlock>
                    <span class="badge badge-danger">Inhabilitado</span>
                </ng-template>

              </p>
              </li>
          </ul>
          
      </div>
    </div>
  </div>

</div>