<router-outlet></router-outlet>

<form>
  <div class="form-row">
    <div class="form-group col-9">
      <label for="formMessage">Nombre de la Campaña</label>
      <input class="form-control">
    </div>
  </div>
  <div id="test" class="form-group">
    testing this
  </div>

  <div>
    test 1
  </div>
</form>

<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-success m-1">Crear</button>
  <button type="button" class="btn btn-danger m-1" routerLink="/campaigns">Cancelar</button>
</div>