<app-page-header [heading]="'Campañas'" [icon]="'fa fa-bullhorn'"></app-page-header>

<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-dark" routerLink="/campaigns/create">Crear Campaña</button>
</div>

<div class="card">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripci&oacute;n</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
     <!--<tr *ngIf="empty">
        <p style="text-align: center">No tiene Compa&ntilde;as.</p>
      </tr>
      <tr *ngIf="!empty">-->
          <tr *ngFor="let campaign of campaignList">
            <td>{{campaign._idCampaign}}</td> 
            <td>{{campaign._nameCampaign}}</td> 
            <td>{{campaign._descCampaign}}</td> 
            <td>{{campaign._startCampaign}}</td> 
            <td>{{campaign._endCampaign}}</td> 
            <td *ngIf="!campaign._statusCampaign"><span class="badge badge-danger" (click)="activateCampaign(campaign._idCampaign)">Inactiva</span></td>
            <td *ngIf="campaign._statusCampaign"><span class="badge badge-success" (click)="deactivateCampaign(campaign._idCampaign)">Activa</span></td> 
          </tr>
    </tbody>
  </table>
</div>
