<app-page-header [heading]="'Campañas'" [icon]="'fa fa-bullhorn'"></app-page-header>

<div class="container-fluid">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="col">Id</th>
        <th class="col">Nombre</th>
        <th class="col">Descripci&oacute;n</th>
        <th class="col">Fecha Inicio</th>
        <th class="col">Fecha Fin</th>
        <th class="col">Estado</th>
      </tr>
    </thead>
    <tbody>
     <!--<tr *ngIf="empty">
        <p style="text-align: center">No tiene Compa&ntilde;as.</p>
      </tr>
      <tr *ngIf="!empty">-->
          <tr *ngFor="let campaign of campaignList">
            <td>{{campaign._idCampaign}}</td> 
            <td>{{campaign._nameCampaign}}</td> 
            <td>{{campaign._descCampaign}}</td> 
            <td>{{campaign._startCampaign}}</td> 
            <td>{{campaign._endCampaign}}</td> 
            <td *ngIf="!campaign._statusCampaign"><span class="badge badge-danger" (click)="activateCampaign(campaign._idCampaign)">Inactiva</span></td>
            <td *ngIf="campaign._statusCampaign"><span class="badge badge-success">Activa</span></td> 
          </tr>
    </tbody>
  </table>
</div>
