
<h2 class="text-center text-capitalize main-title">
  Campañas
</h2>
<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th class="w-2">Codigo</th>
        <th class="w-50">Nombre de camapaña</th>        
        <th class="w-20">Fecha inicio</th>
        <th class="w-20">Fecha fin</th>
        <th class="w-20">Duracion</th>        
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>17</td>
        <td>Campaña de prueba.</td>
        <td>07/08/2018</td>
        <td>07/09/2018</td>
        <td>20 días</td>
      </tr>
    </tbody>
  </table>
</div>