<h2 class="text-center text-capitalize main-title">
  Plantillas
</h2>
<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th class="w-2">Codigo</th>
        <th class="w-50">Mensaje</th>        
        <th class="w-20">Parametros</th>
        <th class="w-20">Canal</th>
        <th class="w-20">Integrador</th>        
        <th class="w-20">Origen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>210</td>
        <td>Lorem ipsum [·$Name$·] sit amet, consectetur ad
          ing elit. Sed ut sem mauris. Mauris [·$Date$·] ma
          uada tincidunt. Cras mollis metus a felis.</td>
        <td>Name, Date</td>
        <td>Email</td>
        <td>Movistar</td>
        <td>Banesco online</td>
      </tr>
    </tbody>
  </table>
</div>