<h2 class="text-center text-capitalize main-title">
  Plantillas
</h2>

<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn btn-dark">Crear Plantilla</button>
</div>

<div class="card">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Mensaje</th>
        <th scope="col">Parametros</th>
        <th scope="col">Canal</th>
        <th scope="col">Integrador</th>
        <th scope="col">Origen</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let template of templates; let i = index">
        <td class="text-center" *ngIf="template.statusId == 1; else elseBlock">
          {{template.templateId}}
          <br>
          <span class="badge badge-success notclickable">Aprobado</span>
        </td>
        <ng-template #elseBlock>
          <td class="text-center">
            {{template.templateId}}
            <br>
            <ngbd-modal-approve [templateId]="template.templateId" (spread)="getTemplates()"></ngbd-modal-approve>
          </td>
        </ng-template>
        <td class="message">{{template.message.message}}</td>
        <td class="parameters">
          <li *ngFor="let parameter of template.message.parameterArrayList">
            {{parameter.name}}
          </li>
        </td>
        <td class="text-center">Email</td>
        <td class="text-center">Movistar</td>
        <td class="text-center">Banesco online</td>
      </tr>
    </tbody>
  </table>
</div>