<h2 class="text-center text-capitalize main-title">
    Estadísticas
</h2>

<div class="Container">
    <div class="row" style="margin: 5% 0%">
      <div class="card bg-primary">
        <div id= "bar-chart"></div>   
            </div>
                <div class="card bg-primary">
                    <div id= "line-chart"></div>
                     </div>
                          <div class="card bg-primary">
                             <div id= "pie-chart"></div>  
                                 </div>
 </div>
</div>