<h2 class="text-center text-capitalize main-title">Estadísticas</h2>

<div class="container">
    <form>
        <div class="row">
            <div class="col-md-3 dropdown" *ngIf="companiesDropdown.length > 0">
                <ng-multiselect-dropdown
                    [placeholder]="'Compañía'"
                    [data]="companiesDropdown"
                    [settings]="companiesDropdownSettings"
                    (onSelect)="companySelected($event)"
                    (onDeSelect)="companyDeselected($event)"
                    (onSelectAll)="selectAllCompanies()"
                    (onDeSelectAll)="deselectAllCompanies()"
                >
                </ng-multiselect-dropdown>
            </div>

            <div class="col-md-3 dropdown" *ngIf="campaignsDropdown.length > 0">
                <ng-multiselect-dropdown
                    [placeholder]="'Campaña'"
                    [data]="campaignsDropdown"
                    [settings]="campaignsDropdownSettings"
                    (onSelect)="campaignSelected($event)"
                    (onDeSelect)="campaignDeselected($event)"
                    (onSelectAll)="selectAllCampaigns()"
                    (onDeSelectAll)="deselectAllCampaigns()"
                >
                </ng-multiselect-dropdown>
            </div>

            <div class="col-md-3 dropdown" *ngIf="channelsDropdown.length > 0">
                <ng-multiselect-dropdown
                    [placeholder]="'Canal'"
                    [data]="channelsDropdown"
                    [settings]="channelsDropdownSettings"
                    (onSelect)="channelSelected($event)"
                    (onDeSelect)="channelDeselected($event)"
                    (onSelectAll)="selectAllChannels()"
                    (onDeSelectAll)="deselectAllChannels()"
                >
                </ng-multiselect-dropdown>
            </div>

            <div class="col-md-3 text-center">
                <button class="btn btn-link" (click)="openFilters()">
                    Más filtros
                </button>
            </div>
        </div>
    </form>
</div>

<div class="Container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">
                Estadistcas de:
            </label>
        </div>
        <select
            class="custom-select"
            id="inputGroupSelect01"
            [(ngModel)]="opcionSeleccionado"
        >
            <!-- (change) = "capturar()" -->
            <option selected value="0">Elija</option>
            <option *ngFor="let dato of datos"> {{ dato }} </option>
        </select>
    </div>
    <div class="alert alert-info" role="alert">
        <p>
            NOTA! : Si no proporciona algunos de los filtros el sistema mostrara
            los resultados globales de la estadística que se selecciono a
            consultar.
        </p>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dateOfBirth">Filtro de Tiempo</label>
            <input
                type="date"
                class="form-control"
                id="myDate"
                [(ngModel)]="opcionDateSleccionado"
            />
            <!-- (change) = "capturarDate()" -->
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dateOfBirth">Filtro de Tiempo</label>
            <input
                type="date"
                class="form-control"
                id="myDate2"
                [(ngModel)]="opcionDateSleccionado2"
            />
            <!-- (change) = "capturarDate()" -->
        </div>
    </div>

    <button
        type="button"
        class="btn btn-success btn-lg"
        (click)="capturar(); capturarDate(); DoGraficas()"
    >
        Consultar
    </button>

    <button
        type="button"
        class="btn btn-success btn-lg"
        (click)="sendUserRequest()"
    >
        Consultar 2
    </button>

    <p [hidden]="opcionSeleccionado == '0'">
        Haz seleccionado la Consulta acerca : {{ verSeleccion }}
    </p>
</div>

<div class="Container">
    <div class="row" style="margin: 5% 0%">
        <div class="card bg-primary"><div id="bar-chartCompany"></div></div>
        <div class="card bg-primary"><div id="line-chartCompany"></div></div>
        <div class="card bg-primary"><div id="pie-chartCompany"></div></div>
        <div class="card bg-primary"><div id="bar-chartCampaign"></div></div>
        <div class="card bg-primary"><div id="line-chartCampaign"></div></div>
        <div class="card bg-primary"><div id="pie-chartCampaign"></div></div>
        <div class="card bg-primary"><div id="bar-chartChannels"></div></div>
        <div class="card bg-primary"><div id="line-chartChannels"></div></div>
        <div class="card bg-primary"><div id="pie-chartChannels"></div></div>
    </div>

    <div class="row">
        <div *ngIf="timeLineChart" class="col-lg-12">
            <canvas #timeLineChart>{{ timeLineChart }}</canvas>
        </div>
    </div>
    <div class="row">
        <div *ngIf="companiesBarChart" class="col-lg-6">
            <canvas #companiesBarChartElement>{{ companiesBarChart }}</canvas>
        </div>

        <div *ngIf="campaignsBarChart" class="col-lg-6">
            <canvas #campaignsBarChartElement>{{ campaignsBarChart }}</canvas>
        </div>
    </div>

    <div class="row">
        <div *ngIf="channelsPieChart" class="col-lg-6">
            <canvas #channelsPieChartElement>{{ channelsPieChart }}</canvas>
        </div>
    </div>
</div>
