<router-outlet></router-outlet>

<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="formMessage">Nombre de la Campaña</label>
          <input class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="newCampaign._nameCampaign" required>
        </div>
        <div class="form-group">
          <label for="formMessage">Descripción de la Campaña</label>
          <textarea class="form-control" id="formDescription" name="descripcion" rows="5" [(ngModel)]="newCampaign._descCampaign"
            placeholder="Descripción"></textarea>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label for="formMessage">Fecha de Inicio de la Campaña</label>
          <input class="form-control" [(ngModel)]="newCampaign._startCampaign" name="fIni" required type="date">
        </div>
        <div class="form-group">
          <label for="formMessage">Fecha de finalización de la Campaña</label>
          <input type="date" [(ngModel)]="newCampaign._endCampaign" name="fFin" required class="form-control">
        </div>
        <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Compañia:</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="opcionSeleccionado">  <!--[(ngModel)]="newCampaign._idCompany">   (change) = "capturar()" -->
              <option selected value="0">Elija</option>
              <option *ngFor="let company of companyList">
                  {{company._name}}
              </option>
            </select>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <button type="button" class="btn btn-success m-1 col-12" (click)="createEditCampaign()">Modificar</button>
      </div>
      <div class="col-5">
        <button type="button" class="btn btn-danger m-1 col-12" routerLink="/campaigns">Cancelar</button>
      </div>

    </div>
  </form>
</div>
