<div class="container-fluid">
  <h2 class="text-center text-capitalize main-title">
    Origen de datos
  </h2>
  <div class="col-4 offset-8 text-right">
    <button type="button" id="add-btn" class="btn btn-outline-secondary" (click)="openModal()">
      <i class="fa fa-plus"></i> Agregar
    </button>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-3">Nombre</th>
        <th class="col-1 text-center">Estatus</th>
        <th class="col-4 text-center">Descripción</th>
        <th class="col-2 text-center">Token</th>
        <th class="col text-center">Operación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of applications">
        <td class="col-3">{{app._nameApplication}}</td>
        <td class="col-1 text-center">
          <span *ngIf="app._statusApplication" class="badge badge-success">Activo</span>
          <span *ngIf="!app._statusApplication" class="badge badge-danger">Inactivo</span>
        </td>
        <td class="col-4 text-left">{{app._descriptionApplication}}</td>
        <td class="col-2 text-center">{{app._tokenApplication}}</td>
        <td class="col text-center">
          <i *ngIf="!app._statusApplication" class="fa fa-play" title="Activar" (click)="activeApplication(app._idApplication)"></i>
          <i *ngIf="app._statusApplication" class="fa fa-pause" title="Desactivar" (click)="pauseApplication(app._idApplication)"></i>&nbsp;
          <i class="fa fa-pencil" (click)="editApplication(app._idApplication)"></i>&nbsp;
          <i class="fa fa-trash" (click)="deleteApplication(app._idApplication)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="backdrop" [class.show]="displayModal"></div>
  <div class="modal" tabindex="-1" role="dialog" [class.show]="displayModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nueva Aplicacion</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form >
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input [(ngModel)]="newApp._name" name="name" type="text" class="form-control" id="name" placeholder="Nombre de la aplicación">
            </div>
            <div class="form-group">
              <label for="description">Descripción:</label>
              <textarea [(ngModel)]="newApp._description" type="text" name="description" class="form-control" id="description" placeholder="Breve descripcion de la aplicación"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addApplication()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
